In [1]:
#pip install yfinance

In [1]:
import pandas as pd
import numpy as np

In [2]:
import yfinance as yf

In [3]:
# Futures Tickers 
# Crude Oil (CL=F)
# Natural Gas (NG=F)
# Coal (not available) -> London Metal Exchange
# Copper (HG=F)
# Aluminum (ALI=F)
# Steel (not available) -> London Metal Exchange
tickers=['CL=F', 'NG=F', 'HG=F', 'ALI=F']

In [4]:
data=pd.DataFrame()
for ticker in tickers:
    quotes=yf.Ticker(ticker)
    df=quotes.history(interval='1mo', start="2015-01-01", end="2021-12-30")
    data[ticker]=df['Open']

In [7]:
quotes.info

{'exchange': 'CMX',
 'shortName': 'Aluminum Futures,Apr-2022',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'underlyingSymbol': 'ALIJ22.CMX',
 'quoteType': 'FUTURE',
 'symbol': 'ALI=F',
 'underlyingExchangeSymbol': 'ALIJ22.CMX',
 'headSymbol': 'ALI=F',
 'market': 'us24_market',
 'previousClose': 3751.25,
 'regularMarketOpen': 3650,
 'twoHundredDayAverage': 2771.6687,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 3757.25,
 'navPrice': None,
 'averageDailyVolume10Day': 0,
 'totalAssets': None,
 'regularMarketPreviousClose': 3751.25,
 'fiftyDayAverage': 3096.15,
 'trailingAnnualDividendRate': None,
 'open': 3650,
 'toCurrency': None,
 'averageVolume10days': 0,
 'expireDate': 1651017600,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 3650,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 1320,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': 192,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 0,
 'priceToSalesTrailing12Months': None,
 'dayLow': 3650,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 1000,
 'volume': 1320,
 'fiftyTwoWeekHigh': 3767.75,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 2185,
 'bid': 2700,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 3757.25,
 'regularMarketPrice': 3853,
 'preMarketPrice': None,
 'logo_url': ''}

In [6]:
quotes.info['shortName']

'Aluminum Futures,Apr-2022'

In [78]:
data['date']=df.index

In [79]:
data=data.reset_index(drop=True)

In [80]:
data.columns=['crude_oil', 'natural_gas', 'copper', 'aluminum', 'date']

In [82]:
data = data[['date','crude_oil', 'natural_gas', 'copper', 'aluminum']]

In [83]:
data

         date  crude_oil  natural_gas  copper  aluminum
0  2015-01-01  53.759998        2.845  2.8420   2168.50
1  2015-04-01  47.549999        2.637  2.7495   2036.00
2  2015-05-01  59.790001        2.737  2.8845   2023.50
3  2015-06-01  60.290001        2.615  2.7635   1867.75
4  2015-07-01  58.980000        2.816  2.6225   1836.25
..        ...        ...          ...     ...       ...
66 2021-07-01  73.500000        3.746  4.3000   2534.75
67 2021-09-01  68.550003        4.403  4.3510   2717.50
68 2021-10-01  75.120003        5.975  4.1500   2902.25
69 2021-11-01  83.360001        5.310  4.3545   2776.25
70 2021-12-01  67.010002        4.606  4.3035   2628.50

[71 rows x 5 columns]

In [90]:
data.to_csv('downloaded/futures.csv',index=False)